<div class="container">

  <!-- Description -->
  <div id="statusio_about_text" class="page_section">
    <div class="panel panel-default section_border_1 make_round">
        <!-- Header image-->
        <div id="statusio_header" class="header">
            <div id="statusio_header_image"  class="row">
                <div class="col-md-12">
                    <a href="https://www.cyverse.org">
                        <img src="/images/cyverse_map_banner.jpg" alt="Header Image" style="max-width: 98%; height: auto; margin: 1% 1%;">
                    </a>
                </div>
            </div>
        </div>
      <div class="panel-body">
        <p style="opacity: 1;" class="text-center"><a href="https://www.cyverse.org">CyVerse</a> is where scientists in all domains of life sciences can connect to public datasets, manage and store their own data and experiments, access high-performance computing, and share results with colleagues.</p>
      </div>
    </div>
  </div>

   <!-- Status list -->		
   <div id="statusio_components" class="page_section">

      <% Results.forEach(function(group) { %>

          <div style="border-left: 1px solid #e2e2e2; border-right: 1px solid #e2e2e2; border-bottom: 1px solid #e2e2e2; border-top: 1px solid #e2e2e2;" class="component component_middle status_td">
              <h3><a href="<%=  group.url %>" target="_blank"><%= group.name %> <span class="glyphicon glyphicon-new-window"></span></a></h3>

              <% group.services.forEach(function(service){ %>

                  <div class="row">

                      <div class="col-md-8 col-sm-8 col-xs-8">
                          <p class="component_name"> <%= service.name %></p>
                      </div>

                      <div class="col-md-4 col-sm-4 col-xs-4">

                          <% if (service.status === "Operational"){ %>

                            <p style="color: #27AE60;" class="pull-right component-status"><%= service.status %></p>
                          <% }else if ( service.status ==="Degraded Performance" || service.status ==="Partial Service Disruption") {%>
                            <p style="color: #FFA837;" class="pull-right component-status"><%= service.status %></p>

                          <%} else if(service.status === "Service Disruption" || service.status === "Security Issue" || service.status === "Full Service Disruption"){%>
                            <p style="color: #C44031;" class="pull-right component-status"> <%= service.status %></p>

                          <%} else{ %>
                            <p style="color: #2b67c4;" class="pull-right component-status"><%= service.status %></p>
                          <%} %>
                      </div>
                  </div>

              <% }) %>

          </div>

      <% }) %>

  </div>
</div>
